h1 {
  color: var(--h1);
  border-left: 3px solid;
  border-left-width: 5px;
  padding-left: 5px;
}

h2 {
  color: var(--h2);
  border-left: 3px solid;
  border-left-width: 5px;
  padding-left: 5px;
}

h3 {
  color: var(--h3);
  border-left: 2px solid;
  padding-left: 3px;
}


.highlight {
  background-color: red;
}

article a{
  text-decoration: underline;
}

article {
  width: 100%;
  display: flex;
  flex-direction: row;

  word-wrap: break-word;
  word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


#TableOfContents a {
  color: var(--toc);
}

#TableOfContents a:hover {
  border: medium solid #0d6efd;
  background-color: #0D6EFD;
  border-radius: 10px 10px;
  color: white;
}


article:has(> .single_toc) {
  .single_toc {
    align-self: flex-start;
    position: sticky;
    top: 0;
    flex: 0 0 200px;
  }

  .single_main {
    width: 100%;
    min-width: 10%;
  }
}



@media only screen and (max-width: 1200px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  article {
    word-wrap: break-word;

    flex-direction: column-reverse;
    display: flex;
    word-wrap: break-word;

  }


  .single_main {
    text-align: justify;
    flex: 0 0 100%;


    word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }


  article:has(> .single_toc) {

    .single_toc {
      position: relative;
      flex: 0 0 0px;
    }
  }
}


blockquote {
  border-left: 1px solid var(--text);
  padding: 10px;
  text-align: center;
  border-color: var(--text);
  background-color: var(--secondary-background);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: block;

}
