body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
}


table {
  border: 1px solid var(--text);
}

table th,
td {
  border: 1px solid var(--text);
  padding-left: 10px;
  padding-right: 10px;
}

/* this is title links of homepage */
h1 a {
  color: var(--h1);
  text-decoration: underline;
}

h2 a {
  color: var(--h2);
  text-decoration: underline;
}

h3 a {
  color: var(--h3);
  text-decoration: underline;
}

.index h1 {
  color: var(--title_1);
  margin: 30px 0 5px;
}

h1 {
  color: var(--title_1);
  margin: 30px 0 5px;

}


.index h1 a:hover {
  --d: 100%;
  --p: 100%;
  transition: 0.3s, background-position 0.2s 0.3s;
}

.summary {
  color: var(--subtext);
  margin: 0px 0 10px;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  color: var(--text);
  background-color: var(--background-color);
}


h1,
h2,
title,
.site_title_index,
.url_nav_bar {
  font-style:italic;
}


strong,
pre,
code {
  font-size: 1.1em;
  font-family: monospace;
}

@-ms-viewport {
  width: device-width;
}

.thoughts,
header,
main,
footer {
  /* font-size: 1.2em; */
  text-align: justify;
  margin-right: 10%;
  max-width: 80%;
  margin-left: 10%;
}

img {
  max-width: 100%;
  max-height: 400px;
}

.modeToggle {
  border: none;
  background: none;
  padding: 0;
  height: 30px;
  width: 30px;
  outline: none;
}

.modeToggle :hover {
  opacity: 0.3;
}


a {
  color: var(--url);
  text-decoration: none;
}

.site_title_index :link,
.site_title_index :hover,
.site_title_index :active,
.site_title_index :visited {
  color: var(--title_0);
  font-size: 2em;
  text-decoration: none;
}


.url_nav_bar {
  font-size: 1.3em;
  padding-right: 1%;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


@media only screen and (max-width: 1200px) {

  .site_title_index {
    text-align: center;
  }

  .url_nav_bar {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    align-items: flex-start;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modeToggle {
    display: inline;
    height: 30px;
    width: 30px;
  }
}

/* https://frontendmasters.com/blog/highlight-text-when-a-user-scrolls-down-to-that-piece-of-text/ */
mark.scroll-highlight {
  background-size: 0 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: linear-gradient(#e64553, #e64553);
  color: var(--background-color);
  animation: mark-it linear;
  animation-fill-mode: forwards;
  animation-timeline: view();
  animation-iteration-count: 1;
  animation-range: contain 0% contain 15%;
}

@keyframes mark-it {
  0% {
    background-size: 0 100%;
  }

  100% {
    background-size: 100% 100%;
  }
}

.box {
  border: 2px solid #7F0FFF;
  padding: 1rem;
  border-radius: 0.5rem;
  inline-size: fit-content;
  overflow-wrap: break-word;
}

.theme_changer {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  background-color: var(--background-color);
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 10px;

}

