body,html,head {
    margin: 1%;
}


article {
  max-width: 70%;
  margin: auto;
}

section{
  max-width: 90%;
}


.title {
  text-align: center;
}

.backlinks {
  max-width: 70%;
  margin: auto;
}

a{
  overflow-wrap: break-word;
}

pre {
  overflow-wrap: break-word;
}

.description_list{
    list-style-position: inside;
    padding-left: 0;
}

.writings {
  & li {
    list-style-type: none;
  }

}
.title{
  font-size: 1.4em;
  color: black;
}

.topbar{
  font-size: 1.3em;
  padding-right: 1%;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 1200px) {
    article {
      max-width: 90%;
    }

section{
  max-width: 100%;
}

  .topbar{
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    align-items: flex-start;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
}


dialog {
	background: white;
	width: 700px;
	border: 0;
	.x {
		filter: grayscale(1);
		border: none;
		background: none;
		position: absolute;
		top: 15px;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
		&:hover {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}
	h2 {
		font-weight: 600;
		font-size: 1.6rem;
	}
	span{
	  font-size:0.8rem;
	}
	p {
		font-size: 1rem;
		line-height: 1.3rem;
		padding: 0.5rem 0;
		a {
			&:visited {
				color: rgb(var(--vs-primary));
			}
		}
	}
}

button.primary {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    margin: 0;
    outline: none;
}

button.primary:hover {
    color: black;
}

button.primary:active {
    color: black;
}

a{
  color: black;
}

a:visited{
  color: black;
}

pre {
  padding: 1rem;
  overflow: auto;
}
/* The line numbers already provide some kind of left/right padding */
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
/* The line number cells */
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  /* If you want your highlights to take the full width */
  display: block;
  /* The default background colour of a mark is bright yellow */
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}
